<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="MakeQA.BeginPage" value="0"/>
    <add key="MakeQA.BeginParagraph" value="0"/>
    <add key="EditQA.BeginFolder" value=""/>
    <add key="EditQA.BeginPage" value=""/>
    <add key="ReAnswer.BeginFolder" value=""/>
    <add key="ReAnswer.BeginPage" value=""/>
  </appSettings>
</configuration>
